.card {
    font-size: 1em;
    overflow: hidden;
    padding: 0;
    border: none;
    border-radius: 3rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin: 5px;
    min-width: 200px;
}

.card-block {
    font-size: .9em;
    position: relative;
    margin: 3;
    padding: 1em;
    border: none;
    box-shadow: none;
}

.card-title {
    font-size: 1.5em;
    font-weight: 700;
}

.card-text {
    clear: both;
    font-size: 1.2em;
    color: rgba(0, 0, 0, .68);
}

.fa.fa-chain {
    font-size: 75px;
}
.fa.fa-chain-broken {
    font-size: 75px;
}